@import "theme";
@import "helper";
@import "common";

.first {
  &-bg {
    width: 4.693333rem;
    height: 6.906667rem;
    position: absolute;
    top: 6.666667rem;
    right: 3.04rem;
    animation: scale 3s ease;
    z-index: 2000;

    img {
    }

    &-light {
      width: 100%;
      height: 16.2rem;
      position: relative;
      z-index: 1000;
    }
  }

  @keyframes scale {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
}
