@import "theme";
@import "helper";
@import "common";

body {
}

.leopard-body {
  &-bg {
    position: absolute;
    width: 7.893333rem;
    height: 13.026667rem;
    left: 0;
    bottom: 0;
    z-index: 1000;

    &-light {
      position: absolute;
      width: 100%;
      height: 16.16rem;
      top: 0;
      right: 0;
      z-index: 1001;
    }
  }

  &-en, &-title, &-info, &-text, &-button {
    z-index: 1002;
  }

  &-en {
    width: 2.773333rem;
    height: 5.52rem;
    margin-left: 0.826667rem;
    position: relative;
  }

  &-title {
    width: 2.48rem;
    height: 1.573333rem;
    position: absolute;
    top: 2.293333rem;
    right: 0.973333rem;
  }

  &-info {
    width: 3.44rem;
    height: 2.08rem;
    position: relative;
    left: 5.706667rem;
    top: -0.666667rem;
  }

  &-text {
    width: 4.053333rem;
    height: 5.493333rem;
    margin-top: 0.866667rem;
    position: relative;
    left: 5.48rem;
  }

  &-circle {
    width: 5.133333rem;
    height: 4.746667rem;
    position: absolute;
    top: 5.133333rem;
    left: 0.28rem;
  }

  &-button {
    @include center(true, false);
    position: relative;
    width: 3.226667rem;
    margin-top: 2.266667rem;

    &-prev, &-next {
      width: 0.906667rem;
      height: 0.906667rem;
    }
  }
}
