@import "theme";
@import "helper";
@import "common";

.leopard-claw {
  padding-top: px2rem(286px);

  &-bg {
    position: absolute;
    width: 100%;
    height: px2rem(1323px);
    top: 0;
    right: 0;
    z-index: 1000;
  }

  &-en, &-title, &-golden, &-circle, &-line, &-text {
    position: relative;
    z-index: 2000;
  }

  &-en {
    width: px2rem(246px);
    height: px2rem(75px);
    margin-left: px2rem(44px);
    animation-delay: 4 * $delay-sec;
  }

  &-line {
    position: absolute;
    width: px2rem(379px);
    height: px2rem(338px);
    left: px2rem(36px);
    top: px2rem(444px);
    animation-delay: 2 * $delay-sec;
  }

  &-title {
    width: px2rem(186px);
    height: px2rem(119px);
    margin-top: px2rem(52px);
    margin-left: px2rem(59px);
    animation-delay: 3 * $delay-sec;
  }

  &-golden {
    width: px2rem(299px);
    height: px2rem(153px);
    margin-top: px2rem(56px);
    margin-left: px2rem(55px);
    animation-delay: 5 * $delay-sec;
  }

  &-text {
    width: px2rem(562px);
    height: px2rem(236px);
    margin: px2rem(110px) auto 0; // 160
    animation-delay: 6 * $delay-sec;
  }

  &-circle {
    position: absolute;
    width: px2rem(385px);
    height: px2rem(356px);
    top: px2rem(647px);
    right: px2rem(107px);
    animation-delay: 1 * $delay-sec;
  }

  &-button {
    @include center(true, false);
    width: px2rem(242px);
    bottom: px2rem(40px);
    z-index: 3000;

    &-prev, &-next {
      width: px2rem(68px);
      width: px2rem(68px);
    }
  }
}
