@import "theme";
@import "helper";
@import "common";

.leopard-choose {
  padding-top: px2rem(110px);

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;

    @keyframes animate {
      0% {
        box-shadow: 0 0 0 0 rgba(89, 173, 211, .6);
      }
      100% {
        box-shadow: 0 0 0 px2rem(80px) rgba(89, 173, 211, .3);
      }
    }

    .circle-eye, .circle-nose, .circle-body, .circle-claw {
      width: px2rem(19px);
      height: px2rem(19px);
      background-color: rgba(89, 173, 211, .8);
      position: absolute;
      border-radius: 50%;
      animation: animate 1.4s linear infinite;
      z-index: 3000;
    }

    .circle-eye {
      bottom: px2rem(799px);
      left: px2rem(241px);
    }

    .circle-nose {
      left: px2rem(328px);
      bottom: px2rem(708px);
    }

    .circle-body {
      left: px2rem(104px);
      bottom: px2rem(571px);
    }

    .circle-claw {
      left: px2rem(148px);
      bottom: px2rem(89px);
    }
  }

  &-title, &-golden {
    position: relative;
    z-index: 3000;
  }

  &-title {
    width: px2rem(121px);
    height: px2rem(570px);
    margin-right: px2rem(95px);
  }

  &-golden {
    width: px2rem(124px);
    height: px2rem(124px);
    margin-top: px2rem(272px); // 405
    margin-right: px2rem(98px);
  }
}
