@import "theme";
@import "helper";
@import "common";

.leopard-claw {
  padding-top: 3.813333rem;

  &-bg {
    position: absolute;
    width: 100%;
    height: 16.16rem;
    top: 0;
    right: 0;
    z-index: 1000;
  }

  &-en, &-title, &-golden, &-circle, &-line {
    position: relative;
    z-index: 2000;
  }

  &-en {
    width: 3.28rem;
    height: 1.0rem;
    margin-left: 0.586667rem;
    animation-delay: 4 * $delay-sec;
  }

  &-line {
    position: absolute;
    width: 5.053333rem;
    height: 4.506667rem;
    left: 0.48rem;
    top: 5.92rem;
    animation-delay: 2 * $delay-sec;
  }

  &-title {
    width: 2.48rem;
    height: 1.586667rem;
    margin-top: 0.693333rem;
    margin-left: 0.786667rem;
    animation-delay: 3 * $delay-sec;
  }

  &-golden {
    width: 3.986667rem;
    height: 2.04rem;
    margin-top: 0.746667rem;
    margin-left: 0.733333rem;
    animation-delay: 5 * $delay-sec;
  }

  &-text {
    width: 7.493333rem;
    height: 3.146667rem;
    margin: 1.466667rem auto 0;
    animation-delay: 6 * $delay-sec;
  }

  &-circle {
    position: absolute;
    width: 5.133333rem;
    height: 4.746667rem;
    top: 8.626667rem;
    right: 1.426667rem;
    animation-delay: 1 * $delay-sec;
  }

  &-button {
    @include center(true, false);
    width: 3.226667rem;
    bottom: 0.666667rem;
    z-index: 3000;

    &-prev, &-next {
      width: 0.906667rem;
      height: 0.906667rem;
    }
  }
}
