@import "theme";
@import "helper";
@import "common";

.leopard-nose {
  padding-top: 3.16rem;

  &-bg {
    position: absolute;
    width: 100%;
    height: 16.16rem;
    right: 0;
    top: 0;
  }

  &-en, &-title, &-golden {
    position: relative;
  }

  &-en {
    width: 3.28rem;
    height: 1.0rem;
    margin-left: 0.893333rem;
    animation-delay: 4 * $delay-sec;
  }

  &-line {
    position: absolute;
    width: 3.773333rem;
    height: 1.333333rem;
    top: 4.773333rem;
    left: 0.88rem;
    animation-delay: 2 * $delay-sec;
  }

  &-title {
    width: 2.48rem;
    height: 1.573333rem;
    margin-top: 0.973333rem;
    margin-left: 1.08rem;
    animation-delay: 3 * $delay-sec;
  }

  &-golden {
    width: 4.16rem;
    height: 2.08rem;
    margin-top: 0.84rem;
    margin-left: 1.053333rem;
    animation-delay: 5 * $delay-sec;
  }

  &-text {
    width: 7.2rem;
    height: 2.386667rem;
    margin: 0.986667rem auto 0;
    animation-delay: 6 * $delay-sec;
  }

  &-circle {
    width: 4.213333rem;
    height: 3.906667rem;
    position: absolute;
    top: 3.133333rem;
    right: 2.573333rem;
    animation-delay: 1 * $delay-sec;
    animation: shine 2s ease infinite;
  }

  &-button {
    @include center(true, false);
    width: px2rem(242px);
    bottom: px2rem(40px);
    z-index: 3000;

    &-prev, &-next {
      width: px2rem(68px);
      width: px2rem(68px);
    }
  }
}
