@import "theme";
@import "helper";
@import "common";

.leopard-eye {
  padding-top: px2rem(299px);

  &-bg {
    position: absolute;
    width: 100%;
    height: px2rem(1323px);
    right: 0;
    top: 0;
    z-index: 1000;
  }

  &-en, &-title, &-golden, &-text, &-circle, &-button, &-line {
    position: relative;
    z-index: 2000;
  }

  &-en {
    width: px2rem(246px);
    height: px2rem(75px);
    margin-right: px2rem(46px);
    animation-delay: 4 * $delay-sec;
  }

  &-line {
    position: absolute;
    width: px2rem(350px);
    height: px2rem(142px);
    top: px2rem(409px);
    right: px2rem(46px);
    animation-delay: 2 * $delay-sec;
  }

  &-title {
    width: px2rem(187px);
    height: px2rem(119px);
    margin-top: px2rem(42px);
    margin-right: px2rem(59px);
    animation-delay: 3 * $delay-sec;
  }

  &-golden {
    width: px2rem(244px);
    height: px2rem(109px);
    margin-top: px2rem(66px);
    margin-right: px2rem(53px);
    animation-delay: 5 * $delay-sec;
  }

  &-text {
    width: px2rem(528px);
    height: px2rem(228px);
    margin: px2rem(108px) auto 0; // 188
    animation-delay: 6 * $delay-sec;
  }

  &-circle {
    width: px2rem(453px);
    height: px2rem(420px);
    position: absolute;
    left: px2rem(49px);
    top: px2rem(211px);
    animation-delay: 1 * $delay-sec;
  }

  &-button {
    @include center(true, false);
    width: px2rem(242px);
    bottom: px2rem(40px);

    &-prev, &-next {
      width: px2rem(68px);
      width: px2rem(68px);
    }
  }
}
