@import "theme";
@import "helper";
@import "common";

.leopard-claw {
  padding-top: 3.813333rem;

  &-bg {
    position: absolute;
    width: 100%;
    height: 16.16rem;
    right: 0;
    top: 0;
  }

  &-en, &-title, &-golden, &-circle {
    position: relative;
  }

  &-en {
    width: 3.28rem;
    height: 1.0rem;
    margin-left: 0.586667rem;
  }

  &-title {
    width: 2.48rem;
    height: 1.586667rem;
    margin-top: 0.693333rem;
    margin-left: 0.786667rem;
  }

  &-golden {
    width: 3.986667rem;
    height: 2.04rem;
    margin-top: 0.746667rem;
    margin-left: 0.733333rem;
  }

  &-text {
    width: 7.493333rem;
    height: 3.146667rem;
    margin-top: 2.133333rem;
    @include center(true, false);
    position: relative;
  }

  &-circle {
  }

  &-button {
    @include center(true, false);
    position: relative;
    width: 3.226667rem;
    margin-top: 1.106667rem;

    &-prev, &-next {
      width: 0.906667rem;
      height: 0.906667rem;
    }
  }
}
