@import "theme";
@import "helper";
@import "common";

.leopard-body {
  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1000;
  }

  &-en, &-circle, &-title, &-golden, &-text, &-button, &-line {
    z-index: 2000;
  }

  &-en {
    width: px2rem(208px);
    height: px2rem(414px);
    margin-left: px2rem(62px);
    position: relative;
    animation-delay: 4 * $delay-sec;
  }

  &-line {
    position: absolute;
    width: px2rem(399px);
    height: px2rem(692px);
    top: px2rem(210px);
    right: px2rem(51px);
    animation-delay: 2 * $delay-sec;
  }

  &-title {
    width: px2rem(186px);
    height: px2rem(118px);
    position: absolute;
    top: px2rem(171px);
    right: px2rem(77px);
    animation-delay: 3 * $delay-sec;
  }

  &-golden {
    width: px2rem(258px);
    height: px2rem(156px);
    position: relative;
    right: px2rem(64px);
    top: px2rem(-50px);
    animation-delay: 5 * $delay-sec;
  }

  &-text {
    width: px2rem(304px);
    height: px2rem(412px);
    margin-top: px2rem(75px); // 115
    margin-right: px2rem(36px);
    position: relative;
    animation-delay: 6 * $delay-sec;
  }

  &-circle {
    width: px2rem(385px);
    height: px2rem(356px);
    position: absolute;
    left: px2rem(21px);
    bottom: px2rem(181px);
    animation-delay: 1 * $delay-sec;
    animation: shine 2s ease infinite;
  }

  &-button {
    @include center(true, false);
    width: px2rem(242px);
    bottom: px2rem(40px);

    &-prev, &-next {
      width: px2rem(68px);
      width: px2rem(68px);
    }
  }
}
